In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [112]:
iris_df = pd.read_csv("./iris.csv", names = ["Sepal length", "Sepal width", "Petal length", "Petal width", "Class"])

In [113]:
test_count = int(round(iris_df.shape[0]*.2))
test_df = iris_df[0:30].copy()
train_df = iris_df[30:].copy()
combine = [train_df, test_df]

In [114]:
train_df.head()

    Sepal length  Sepal width  Petal length  Petal width        Class
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa

In [115]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 30 to 149
Data columns (total 5 columns):
Sepal length    120 non-null float64
Sepal width     120 non-null float64
Petal length    120 non-null float64
Petal width     120 non-null float64
Class           120 non-null object
dtypes: float64(4), object(1)
memory usage: 4.8+ KB

In [116]:
train_df.describe()

       Sepal length  Sepal width  Petal length  Petal width
count    120.000000   120.000000    120.000000   120.000000
mean       6.047500     2.955000      4.330000     1.436667
std        0.783974     0.395107      1.497931     0.664203
min        4.400000     2.000000      1.200000     0.100000
25%        5.500000     2.700000      3.900000     1.175000
50%        6.100000     3.000000      4.650000     1.500000
75%        6.525000     3.200000      5.325000     1.900000
max        7.900000     4.200000      6.900000     2.500000

In [117]:
test_df.drop(['Class'], axis=1)
combine = [train_df, test_df]

In [118]:
train_df.head()

    Sepal length  Sepal width  Petal length  Petal width        Class
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa

In [119]:
for dataset in combine:
    dataset['Class'] = dataset['Class'].map( {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2} ).astype(int)

train_df.tail()

     Sepal length  Sepal width  Petal length  Petal width  Class
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

In [120]:
test_df.head()

   Sepal length  Sepal width  Petal length  Petal width  Class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [121]:
X_train = train_df.drop('Class', axis=1)
Y_train = train_df['Class']
X_test = test_df.drop('Class', axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((120, 4), (120,), (30, 4))

In [122]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

95.829999999999998

In [123]:
coeff_df = pd.DataFrame(train_df.columns.delete(0))
coeff_df.columns = ["Feature"]
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

coeff_df.sort_values(by="Correlation", ascending=False)

        Feature  Correlation
1  Petal length     1.238629
0   Sepal width     0.340301
3         Class    -0.904931
2   Petal width    -2.067510